<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="projectName=Spring Web Service Maven Project"/>
        <listEntry value="projectDescription=A Maven project created from the Spring web service archetype."/>
        <listEntry value="currentYear=2023"/>
        <listEntry value="developerId=bmg"/>
        <listEntry value="developerName=Bernardo Martínez Garrido"/>
        <listEntry value="developerMail=programming@bernardomg.com"/>
        <listEntry value="developerUrl=https://github.com/Bernardo-MG"/>
        <listEntry value="repoUserId=bernardo-mg"/>
        <listEntry value="urlSiteDevelop=https://"/>
        <listEntry value="urlSiteRelease=https://"/>
        <listEntry value="archetypeGroupId=com.bernardomg.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=spring-web-service-maven-archetype"/>
        <listEntry value="archetypeVersion=1.1.2"/>
        <listEntry value="groupId=com.Aradhya"/>
        <listEntry value="artifactId=Microservices"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.Aradhya.Microservices"/>
        <listEntry value="outputDirectory=C:\Users\KIIT\Desktop\Microservices\MicroServices"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\KIIT\AppData\Local\Temp\m2e-archetypeGenerator4686273716791851903"/>
</launchConfiguration>
